<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Petition #AgainstActon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">

    <meta name="description" content="Imperial College Union has created a petition against the planned new halls in North Acton.">
    <meta name="author" content="Thomas Lim">
  </head>


  <body>

{% block content %}
            {{ content|raw }}
{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>