{% extends "core.html.twig" %}

{% block content %}

<div class"span12">

<h1>Acton stinks. So sign our petition</h1>

<div class="span7 offset2 hero-unit" style="margin-top:10px">

	{% if error is defined %}
	<div class="alert alert-error">
		There was a problem: {{error}}
	</div>
	{% endif %}

	<form method="POST" class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="inputUname">College Username</label>
			<div class="controls">
				<input type="text" name="uname" value="{{data.uname}}" >
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputPass">Password</label>
			<div class="controls">
				<input type="password" name="pword">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="comments">Would you like to make any comments?</label>
			<div class="controls">
				<textarea rows="3" name="comments">{{data.comments}}</textarea>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" name="anon" value="1" {% if data.anon %}checked{% endif %}> Do you want to be anonymous?	
				</label>
				<button type="submit" class="btn btn-primary">Sign Petition</button>
			</div>
		</div>

	</form>
</div>

</div>

{% endblock %}