{% extends "core.html.twig" %}

{% block content %}

		<div class="hero-unit hidden-phone" style="margin-top:10px;">
			<div class="" style="text-align:center;">
				<div class="" style="display:inline-block;">

					<h1>Thank you!</h1>
					</br>

					<div style="text-align:left">
						<h4>On behalf of everyone at the Union, thank you for your support. If you wish to make any more comments, please <a href="mailto:president@imperial.ac.uk">email me</a>. Please get as many of your friends and colleagues to sign this- make use of the social media buttons below!
						</br>
						Best Wishes
						</br>
						Paul Beaumont</br>
						Union President</p>
					
					</div>

				</br>
					<div>
						<h2>Tell your friends!</h2>
						<h3>Spread the message about the campaign!</h3>
					</div>

					<div>
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://j.mp/XziG92" data-text="@icunion have a campaign #AgainstActon. Show your support here" data-size="normal" data-dnt="true">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

						<div class="fb-send" data-href="http://j.mp/XziXsF"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="well visible-phone" style="margin-top:10px;">
			<div class="" style="text-align:center;">
				<div class="" style="display:inline-block;">

					<h1>Thank you!</h1>
					</br>

					<div style="text-align:left">
						<h4>On behalf of everyone at the Union, thank you for your support. If you wish to make any more comments, please <a href="mailto:president@imperial.ac.uk">email me</a>. Please get as many of your friends and colleagues to sign this- make use of the social media buttons below!</h4>
						</br>
						<h4>Best Wishes</h4>
						</br>
						<h4>Paul Beaumont</br>
						Union President</h4>
					
					</div>

				</br>
					<div>
						<h2>Tell your friends!</h2>
						<h3>Spread the message about the campaign!</h3>
					</div>

					<div>
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://j.mp/XziG92" data-text="@icunion have a campaign #AgainstActon. Show your support here" data-size="normal" data-dnt="true">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

						<div class="fb-send" data-href="http://j.mp/XziXsF"></div>
					</div>
				</div>
			</div>
		</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}
